@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:wght@300;400&family=Lora:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

// font-family: 'DM Serif Text', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Lora', serif;

$font-color-white: #fff;
$background-off-white: rgb(238, 237, 237);
$filter-color: rgba(16, 139, 109, 0.596);
$btn-color: rgb(241, 146, 21);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.navbar {
  .hidden {
    display: none;
  }

  .navbar-modal {
    background-color: rgba(16, 139, 109, 1);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    .modal-ul {
      z-index: 1000;
      position: relative;
      top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      .modal-li {
        a {
          font-size: 2.5rem;
          font-weight: 800;
          margin: 0.5rem 1rem 0.5rem 0;
          color: white;
          text-decoration: none;
          font-family: "Lora", sans-serif;
          height: 100%;
          display: inline-block;
          padding: 0.3rem 0.3rem;
        }
        a:hover {
          background: $btn-color;
          border-radius: 3px;
        }
      }
    }
  }
  position: fixed;
  // background-color: grey;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
  .logo {
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-size: 3rem;
    color: $font-color-white;
    // color: black;
    margin: 0rem 1.5rem;
  }

  .icon {
    color: $font-color-white;
    font-size: 2.5rem;
    margin: 0rem 1.5rem;
    z-index: 101;
  }

  &-ul {
    display: none;
  }
  // &-ul {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: center;
  //   list-style: none;
  //   .navbar-li {
  //     a {
  //       font-size: 1.6rem;
  //       margin: 0.5rem 1rem 0.5rem 0;
  //       color: white;
  //       text-decoration: none;
  //       font-family: "Lora", sans-serif;
  //       height: 100%;
  //       display: inline-block;
  //       padding: 0.3rem 0.3rem;
  //     }
  //     a:hover {
  //       background: $btn-color;
  //       border-radius: 3px;
  //     }
  //   }
  // }
}

.hero {
  height: 100vh;
  // width: 100vw;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-image {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;

    background: url("https://images.unsplash.com/photo-1458639817867-2c9d4c5dcad4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    &:before {
      content: "";
      background-color: $filter-color;
      height: 100%;
      width: 100%;
      z-index: 10;
      position: absolute;
    }
  }
  &-text {
    font-family: "DM Serif Text", serif;
    color: $font-color-white;
    max-width: 80%;
    margin: 0 auto;

    &-main {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    &-sub-container {
      text-align: left;
      .hero-text-sub {
        // transform: translateX(20%);
        padding-left: 20%;
        font-size: 2rem;
        animation-name: slide-in;
      }
    }
  }
  .cta-btn {
    margin-left: 20%;
  }
}

.information {
  // background-color: rgb(245, 245, 245);
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  &-text-container {
    .information-text {
      font-family: "Lato", sans-serif;
      margin: 0 1rem;
      font-size: 1.2rem;

      .accel-style {
        // color: $filter-color;
        font-family: "DM Serif Text", serif;
        font-style: italic;
        font-size: 2.2rem;
      }
    }
  }
  &-images-container {
    position: relative;
    background: linear-gradient(245deg, rgb(244, 252, 244), honeydew);
    border-radius: 5px;
    // width: 30rem;

    .information-img-div {
      .information-img {
        max-width: 30rem;
        background-image: url(/img/blob.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.features {
  min-height: 100vh;
  font-family: "DM Serif Text", serif;
  // font-family: "Lato", sans-serif;
  // font-family: "Lora", serif;

  margin: 0 auto;
  max-width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &-header {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
  }

  .feature-box-container {
    display: flex;
    flex-direction: column;
    .feature-box {
      // font-family: "Lora", serif;
      font-family: "DM Serif Text", serif;

      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 2rem;
      text-align: center;

      &-title {
        font-size: 2rem;
        margin: 1.5rem 0 3rem;
      }
      &-image {
        // max-height: 15rem;
        // width: 100%;
        margin-bottom: 2rem;
        img {
          height: 12rem;
          width: auto;
        }
      }
      &-text {
        font-family: "Lato", sans-serif;
        max-width: 80%;
        margin: 0 auto 1rem;
        text-align: left;
      }
    }
  }
}

.cta-div {
  background-color: $filter-color;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // position: relative;
  .cta-text {
    // position: relative;
    // top: 40%;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;
    color: $font-color-white;
    font-family: "DM Serif Text", serif;
    font-size: 2.4rem;
    max-width: 80%;
    margin: 3rem auto;
  }
  .cta-btn {
    animation: none;
    margin-top: -1rem;
  }
}
